* {
    padding: 0;
    margin: 0;
  }
  h1{
    color: brown;
  }
  h1:hover{
    color:black;
    font-family: monospace;
  }
  div:empty{
    border: 1px solid palevioletred;
  }

  a:active{
    color: chocolate;
  }
  
  input:focus{
    border: 2px solid yellow;
    background-color: aquamarine;
  }